<div th:fragment="jsbody">

    <!-- Bootstrap core JavaScript-->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/chartjs/Chart.min.js"></script>
    <script src="/datatables/jquery.dataTables.min.js"></script>
    <script src="/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="/js/utils/formUtils.js"></script>
    <script src="/js/utils/requestUtils.js"></script>
    <script src="/js/utils/select2Utils.js"></script>

</div>