<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

   <head th:replace="fragments/head :: head"></head>

   <body id="page-top">

      <!-- Page Wrapper -->
      <div id="wrapper">

         <div th:replace="fragments/sidebar :: sidebar"></div>

         <!-- Content Wrapper -->
         <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

               <nav th:replace="fragments/topnav :: nav"></nav>
               
               <!-- End of Topbar -->

               <!-- Begin Page Content -->
               <div class="container-fluid">

                  <!-- Page Heading -->
                  <div class="d-sm-flex align-items-center justify-content-between mb-4">
                     <h1 class="h3 mb-0 text-gray-800">Envio de Arquivos em Lotes</h1>
                  </div>

                  <!-- Content Row -->
                  <div class="row">
                     <div class="col-sm-12">
                        <!-- Form Register -->
                        <div class="row">
                           <div class="col-lg-12 d-lg-block">
                              <form action="/salvar" method="POST" enctype="multipart/form-data">
                                 <div class="row">
                                    <div class="col-sm-4">
                                       <label>Descrição Lote</label>
                                       <input type="text" class="form-control form-control-sm" id="descricao" name="descricao" placeholder="Formato = Lote_1" required autofocus="on">
                                    </div>
                                    <div class="col-sm-6">
                                       <label>Arquivos</label>
                                       <input type="file" class="form-control form-control-sm" id="file" name="file" required>
                                    </div>
                                    <div class="col-sm-2">
                                       <button class="btn btn-success btn-sm btn-sm mt-4 pt2 pb-3">Salvar</button>
                                       <span class="btn btn-info btn-sm btn-sm mt-4 pt2 pb-3" onclick="limparForm('/lotes');">Limpar</button>
                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="card shadow alert-warning mb-4 mt-3" th:if="${sucesso == 'false'}">
                    <div id="dvErros" class="alert alert-warning" >
                       <div th:each="mensagem : ${mensagens}">
                          <p th:text="${mensagem}"></p>
                          <br>
                       </div>
                    </div>
                  </div>
               
                  <div class="card shadow alert-warning mb-4 mt-3" th:if="${sucesso == 'true'}">
                    <div id="dvErros" class="alert alert-success" >
                       
                       <p>Arquivo(s) salvo(s) com sucesso...</p>
                       
                       <script>
                          setTimeout(()=>{
                             window.location.href='/lotes';
                          },3000)
                       </script>
                       
                    </div>
                  </div>
               
                  <div class="card shadow mb-4 mt-3">
                  
                     <div class="card-header py-3">
                        <div class="row">
                           <div class="col-sm-11">
                                 <h6 class="m-0 font-weight-bold text-primary">Arquivos em Lotes</h6>
                           </div>
                           <div class="col-sm-1">
               
                           </div>
                        </div>
                     </div>        
                                 
                     <div class="card-body" id="dvTabela">
                        <div class="table-responsive">
                           <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                 <thead>
                                    <tr>
                                       <th>NOME</th>
                                       <th>CAMINHO</th>
                                       <th><center>-</center></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                 
                                    <tr th:each="arquivos : ${arquivos}" >
                                          <td><span th:text="${arquivos[0]}"></span></td>
                                          <td><span th:text="${arquivos[1]}"></span></td>
                                          <td>
                                             <span class="btn btn-danger btn-sm btn-deletar" th:attr="data-nome=${arquivos[0]}" onclick="deletar(this);">
                                                <i class="fas fa-trash"></i>
                                             </span>
                                          </td>
                                    </tr>
                                    
                                 </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- End of Main Content -->

			   <footer th:replace="fragments/footer :: footer"></footer>

            </div>
            <!-- End of Content Wrapper -->

         </div>
         <!-- End of Page Wrapper -->

         <div th:replace="fragments/jsbody :: jsbody"></div>

         <script src="/js/views/lote.js"></script>

   </body>
   
</html>

